body{
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: rgba(34, 3, 48, 0.877);
     justify-content: center;
    align-items: center;
}

.hola{
    height: 100%;
width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(42, 1, 1, 0.749);
    border-radius: 20px;
    border: solid 2px #a90000;
}

a {
   text-decoration: none;
   color: rgb(255, 255, 255); 
   background-color: rgb(97, 1, 1);
width: 730px;
margin: 5px;
text-align: center;
transition: 0.4s;
font-size: 20px;
border-radius: 8px;
border: solid 1px #ff0000;

}


a:hover{
background-color: rgb(255, 87, 121);
}

.primero{
    margin-top: 1%;
}